<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/SplashScreenTheme"
        tools:targetApi="31">
        <activity
            android:name=".Activity.Activity.Update_each_book"
            android:exported="false" />
        <activity
            android:name=".Activity.Activity.UpdateBook"
            android:exported="false" />
        <activity
            android:name=".Activity.Activity.DeleteBookItem"
            android:exported="false" />
        <activity
            android:name=".Activity.Activity.DeleteBookList"
            android:exported="false" />
        <activity
            android:name=".Activity.Activity.BookDetails"
            android:exported="false" />
        <activity
            android:name=".Activity.Activity.updateUserPassword"
            android:exported="false" />
        <activity
            android:name=".Activity.Activity.DeleteUserAccount"
            android:exported="false" />
        <activity
            android:name=".Activity.Activity.Privacy"
            android:exported="false" />
        <activity
            android:name=".Activity.Activity.ProfileSettings"
            android:exported="false" />
        <activity
            android:name=".Activity.Activity.ProfileInfo"
            android:exported="false" /> <!-- Listing Dashbord -->
        <activity
            android:name=".Activity.Activity.ListingDashBoard"
            android:exported="false" />
        <activity
            android:name=".Activity.Activity.payment_profile"
            android:exported="false" />
        <activity
            android:name=".Activity.Activity.update_delivery_details"
            android:exported="false" />
        <activity
            android:name=".Activity.Activity.MainNavigator"
            android:exported="false" />
        <activity
            android:name=".Activity.Activity.SignUp"
            android:exported="false" />
        <activity
            android:name=".Activity.Activity.Login"
            android:exported="false" />
        <activity
            android:name=".Activity.Activity.Insert_Book"
            android:exported="false" /> <!-- main page -->
        <activity
            android:name=".Activity.Activity.MainActivity"
            android:exported="false" /> <!-- Start Pager -->
        <activity
            android:name=".Activity.Activity.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>